#cardapio-bg {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/images/cardapio-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#cardapio-bg img {
  width: auto;
  height: 90%;
  border-radius: 2rem;
}

#image-bg {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 66vh;
  width: 28vw;

  border-radius: 2rem;
  background-color: var(--yellow);
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  #image-bg {
    width: 40vw;
  }
}

@media screen and (max-width: 600px) {
  #cardapio-bg {
    height: 95vh;
  }
  #cardapio-bg img {
    width: auto;
    height: 85%;
  }
  #image-bg {
    width: 90vw;
    height: 70vh;
  }
}
