#cardapio-bg {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/images/cardapio-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#cardapio-bg img {
  width: 85%;
  height: auto;
  border-radius: 2rem 2rem 2rem 2rem;
}

#image-bg {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70vh;
  width: 60vw;

  border-radius: 1rem;
  background-color: var(--yellow);
}

#image-bg img:hover {
  transform: scale(1.1);
  transition: var(--transition);
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 50%;
  height: auto;
}

@media screen and (max-width: 1100px) {
  #image-bg {
    width: 40vw;
  }
}

@media screen and (max-width: 600px) {
  #cardapio-bg {
    height: 80vh;
  }
  #cardapio h3 {
    margin-top: 0;
  }
  #cardapio-bg img {
    width: 80%;

    transform: scale(1.15);
  }
  #image-bg {
    width: 95vw;
    height: 65vh;
  }
  #image-bg img:hover {
    transform: scale(1.15);
  }
}
@media screen and (max-width: 380px) {
  #cardapio-bg {
    height: 90vh;
  }
  #image-bg {
    height: 75vh;
  }
}
