#header-bg {
  width: 100vw;
  height: 4rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--yellow);
  position: fixed;
  top: 0px;
}

#header-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#morada-home {
  font-size: 1.5rem;
  color: var(--blue);
  font-family: "Blimey";
}

#header-items {
  width: 40%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1100px) {
  #header-items {
    width: 60%;
    justify-content: space-between;
  }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
  #header-items {
    display: none;
  }

  #header-container {
    justify-content: center;
  }
}
